<div class="tab">
  <div class="text-right">
    <input width="50" type="image" src="../../assets/add.png" (click)="cadastrarPessoa(modalDadosPessoais)"
      title="Cadastrar" tooltip="Cadastrar">
  </div>
  <h1 style="color: #994803!important; text-align: center;">{{condicaoTitulo}}</h1>
  <tabset [justified]="true">
    <tab customClass="customClass" *ngIf="pessoas === undefined || pessoas === null">
      <carousel [interval]="0">
        <slide style="background-color: #faeadb;">
          <div class="text-center wrapper">
            <img class="photo" src="../../assets/loading.gif" style="display: block; width: 20%; margin-left: 40%;">
          </div>
        </slide>
      </carousel>
    </tab>
    <tab customClass="customClass" *ngIf="pessoas?.length === 0">
      <carousel [interval]="0">
        <slide style="background-color: #faeadb;">
          <div class="text-center wrapper">
            <h3 style="color:#994803;">Sua ficha ainda não possui aluno</h3>
          </div>
        </slide>
      </carousel>
    </tab>
    <tab customClass="customClass" *ngFor="let alf of alfabetoPessoas;" heading="{{alf}}">
      <carousel [interval]="0">
        <div *ngFor="let pes of pessoas | PessoasPelaPrimeiraLetraDoNome:alf">
          <slide *ngIf="pes.nome.substring(0,1) === alf" style="background-color: #faeadb;">
            <div class="text-center wrapper">
              <img *ngIf="pes.condicao.toLowerCase() === 'aluno'" (click)="abrirModalAluno(pes, modalAluno)"
                class="photo" src="../../assets/aluno.png" style="display: block; width: 20%; margin-left: 40%;">
              <h3 style="color:#994803;">{{pes.nome}}</h3>
            </div>
          </slide>
        </div>
      </carousel>
    </tab>
  </tabset>
</div>

<div bsModal #modalAluno="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left text-center" style="color: #994803 !important; text-align: center;">
          Aluno
        </h5>
        <button type="button" class="close pull-right" (click)="modalAluno.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <accordion>
          <form [formGroup]="registerFormAluno">
            <accordion-group heading="Dados Pessoais">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Nome Completo:</strong>
                      {{registerFormAluno.value.nome}}</label>
                  </div>
                </div>
              </div>
              <div *ngIf="this.condicaoCarousel !== 'ENCARREGADO'" class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Encarregado Local:</strong>
                      {{registerFormAluno.value.encarregadoLocal}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Encarregado Regional:</strong>
                      {{registerFormAluno.value.encarregadoRegional}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Região:</strong> {{registerFormAluno.value.regiao}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Regional:</strong>
                      {{registerFormAluno.value.regional}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Celular:</strong> {{registerFormAluno.value.celular}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">E-mail:</strong> {{registerFormAluno.value.email}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Data de Nascimento:</strong>
                      {{registerFormAluno.value.dataNascimento | FormatarDataInvertida }}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Data de Início:</strong>
                      {{registerFormAluno.value.dataInicio | FormatarDataInvertida}} </label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Comum:</strong> {{registerFormAluno.value.comum}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Instrumento:</strong>
                      {{registerFormAluno.value.instrumento}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <i class="fa fa-edit" tooltip="Editar"
                      style="color: seagreen; cursor: pointer; font-size: xx-large;"
                      (click)="editarDadosPessoais(registerFormAluno.value, modalDadosPessoais)"></i>
                    <i class="fa fa-eraser" tooltip="Excluir"
                      (click)="removerPessoa(modalRemoverPessoa,registerFormAluno.value)"
                      style="color: #ff5151; cursor: pointer; font-size: xx-large; margin-left: 20px;"></i>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group *ngIf="this.condicaoCarousel.toLowerCase() === 'aluno'" heading="Métodos">
              <div class="table-responsive">
                <div class="container">
                  <div class="row">
                    <table class="table table-bordered text-center">
                      <thead class="thead-light">
                        <tr>
                          <th style="display: none;"></th>
                          <th>Método</th>
                          <th>Lição</th>
                          <th>Data</th>
                          <th>Observação</th>
                          <th>Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let oco of listarOcorrenciasPorAluno(registerFormAluno.value)">
                          <td style="display: none;">{{oco.idOcorrencia}}</td>
                          <td>{{oco.nomeMetodo}}</td>
                          <td>{{oco.numeroLicao}}</td>
                          <td>{{oco.dataOcorrencia}}</td>
                          <td>{{oco.observacaoInstrutor}}</td>
                          <td>
                            <div class="btn-group">
                              <i class="fa fa-edit" tooltip="Editar"
                                (click)="preencherModalEdicaoOcorrencia(oco, modalOcorrencia)"
                                style="color: seagreen; cursor: pointer; font-size: x-large;"></i>
                              <i class="fa fa-eraser" tooltip="Excluir"
                                (click)="excluirOcorrencia(oco, modalRemoverOcorrencia)"
                                style="color: #ff5151; cursor: pointer; font-size: x-large; margin-left: 10px;"></i>
                                <i (click)="solicitar(registerFormAluno.value, oco)" class="fa fa-whatsapp" 
                                style="font-size:24px; cursor: pointer; color: #25d366; margin-left: 10px;"></i>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot *ngIf="!exibeOcorrencia">
                        <tr>
                          <td colspan="7" class="text-center">
                            <h4>
                              Este aluno ainda não contém ocorrências!
                            </h4>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 offset-6">
                  <img src="../../assets/add.png" tooltip="Registrar"
                    style="cursor: pointer; margin-left: -20px;width: 40px;"
                    (click)="registrarOcorrencia(modalOcorrencia)" />
                </div>
              </div>
            </accordion-group>
            <accordion-group *ngIf="this.condicaoCarousel.toLowerCase() === 'aluno'" heading="Hinos">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Hinos aprovados:</strong></label>
                    <select id="hinoSelecionado" class="form-control" type="text">
                      <option [value]="obj.idHino" *ngFor="let obj of listarHinosPorAluno(registerFormAluno.value)">
                        {{obj.numeroHino+" - "+obj.vozHino +" - " + obj.dataHino}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-4 offset-3">
                  <img src="../../assets/add.png" tooltip="Registrar" style="cursor: pointer;width: 40px;"
                    (click)="registrarHino(modalNovoHino)" />
                </div>
                <div class="col-4 offset-1">
                  <i class="fa fa-eraser" tooltip="Excluir" (click)="removerHino(modalRemoverHino)"
                    style="color: #ff5151; cursor: pointer; font-size: xx-large;"></i>
                </div>
              </div>
            </accordion-group>
          </form>
        </accordion>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDadosPessoais="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left text-center" style="color: #994803 !important; text-align: center;">
          Dados Pessoais
        </h5>
        <button type="button" class="close pull-right" (click)="modalDadosPessoais.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerFormAluno">
          <div *ngIf="this.condicaoCarousel.toLowerCase() === 'aluno' && this.modoSalvar === 'post'" class="form-group">
            <div class="form-group required">
              <div class="col-0 offset-0">
                <p-autoComplete [style]="{'width':'100%'}" formControlName="alunoPesquisado" [style]="{height:'40px'}"
                  placeholder="Encontre um aluno" [suggestions]="results" (completeMethod)="autoCompleteAluno($event)">
                </p-autoComplete>
              </div>
              <div class="col-12 offset-11" style="top:-35px; left:-8px">
                <input width="32" type="image" src="../../assets/add.png"
                  (click)="inserirPessoaNaFicha(modalDadosPessoais)" title="Inserir" tooltip="Inserir">
              </div>
            </div>
          </div>

          <div class="form-group required">
            <label for=""><strong style="color:#994803;">Nome Completo:</strong></label>
            <input type="text" class="form-control" formControlName="nome"
              [ngClass]="{'is-invalid': registerFormAluno.get('nome')!.errors && registerFormAluno.get('nome')!.touched }"
              placeholder="Insira o Nome Completo" />
            <div *ngIf="registerFormAluno.get('nome')!.hasError('required') &&
                        registerFormAluno.get('nome')!.touched" class="invalid-feedback">
              Nome Completo é obrigatório.
            </div>
            <div *ngIf="registerFormAluno.get('nome')!.hasError('minlength') &&
                registerFormAluno.get('nome')!.touched" class="invalid-feedback">
              Deve conter no mínimo 10 caracters
            </div>
          </div>
          <div class="form-group required">
            <label for=""><strong style="color:#994803;">Celular:</strong></label>
            <input class="form-control" type="text" formControlName="celular" [ngClass]="{'is-invalid': registerFormAluno.get('celular')!.errors &&
                                        registerFormAluno.get('celular')!.touched}" placeholder="Insira seu celular" />
            <div *ngIf="registerFormAluno.get('celular')!.hasError('required') &&
                        registerFormAluno.get('celular')!.touched" class="invalid-feedback">
              Celular é obrigatório.
            </div>
          </div>

          <div class="form-group required">
            <label for=""><strong style="color:#994803;">E-mail:</strong></label>
            <input class="form-control" type="text" formControlName="email" [ngClass]="{'is-invalid': registerFormAluno.get('email')!.errors &&
                                        registerFormAluno.get('email')!.touched}" placeholder="Insira seu e-mail" />
            <div *ngIf="registerFormAluno.get('email')!.hasError('required') &&
                        registerFormAluno.get('email')!.touched" class="invalid-feedback">
              E-mail é obrigatório.
            </div>
            <div *ngIf="registerFormAluno.get('email')!.hasError('email') &&
                registerFormAluno.get('email')!.touched" class="invalid-feedback">
              E-mail com formato inválido
            </div>
          </div>

          <div class="form-group required">
            <label><strong style="color:#994803;">Data de Nascimento:</strong></label>
            <input type="text" class="form-control" readonly bsDatepicker [bsConfig]="datePickerConfig" [ngClass]="{'is-invalid': registerFormAluno.get('dataNascimento')!.errors 
               && registerFormAluno.get('dataNascimento')!.touched}" formControlName="dataNascimento">

            <div *ngIf="registerFormAluno.get('dataNascimento')!.hasError('required')
            && registerFormAluno.get('dataNascimento')!.touched" class="invalid-feedback">
              Data de nascimento é obrigatória.
            </div>
          </div>

          <div class="form-group required">
            <label><strong style="color:#994803;">Data de Início na aulinha:</strong></label><br>
            <input type="text" class="form-control" readonly bsDatepicker [bsConfig]="datePickerConfig" [ngClass]="{'is-invalid': registerFormAluno.get('dataInicio')!.errors 
            && registerFormAluno.get('dataInicio')!.touched}" formControlName="dataInicio" placeholder="">

            <div *ngIf="registerFormAluno.get('dataInicio')!.hasError('required')
            && registerFormAluno.get('dataInicio')!.touched" class="invalid-feedback">
              Data de início na aulinha é obrigatória.
            </div>
          </div>

          <div class="form-group required">
            <div *ngIf="this.condicaoPessoaLogada !== undefined && this.condicaoPessoaLogada.toLowerCase() === 'regional' 
            && this.condicaoCarousel !== 'ENCARREGADO'" class="form-group">
              <label><strong style="color:#994803;">Encarregado Local:</strong></label><br>
              <p-autoComplete formControlName="encarregadoLocal" placeholder="Insira um encarregado local"
                [suggestions]="results" [style]="{height:'40px'}"
                (completeMethod)="autoCompleteEncarregadoLocal($event)">
              </p-autoComplete>
            </div>
          </div>

          <div class="form-group required">
            <label for=""><strong style="color:#994803;">Instrumento:</strong></label>
            <select class="form-control" type="text" formControlName="instrumento" [ngClass]="{'is-invalid': registerFormAluno.get('instrumento')!.errors &&
                                      registerFormAluno.get('instrumento')!.touched}"
              placeholder="Escolha seu instrumento">
              <option>nenhum</option>
              <option [value]="obj" *ngFor="let obj of instrumentos">
                {{obj}}
              </option>
            </select>
            <div *ngIf="registerFormAluno.get('instrumento')!.hasError('required') &&
                      registerFormAluno.get('instrumento')!.touched" class="invalid-feedback">
              Instrumento é obrigatório.
            </div>
          </div>
          <div class="form-row required">
            <div class="form-group col-md-8 offset-md-2">
              <button class="btn btn-lg btn-success btn-block" (click)="salvarPessoa(modalDadosPessoais, modalAluno)"
                [disabled]="!registerFormAluno.valid">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalRemoverPessoa="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title pull-left text-center" style="color: #2aaae2 !important; text-align: center;">
          Tem certeza que deseja remover <strong style="color:#994803;">{{nomePessoa}}</strong> da sua ficha?
        </h6>
        <button type="button" class="close pull-right" (click)="modalRemoverPessoa.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group col-md-8 offset-md-2">
          <button class="btn btn-lg btn-danger btn-block"
            (click)="confirmarExclusaoPessoa(modalRemoverPessoa, modalAluno)">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalRemoverOcorrencia="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title pull-left text-center" style="color: #2aaae2 !important; text-align: center;">
          Tem certeza que deseja remover a ocorrência do dia: <strong style="color:#994803;">{{ocorrenciaParaExcluir}}
          </strong>
        </h6>
        <button type="button" class="close pull-right" (click)="modalRemoverOcorrencia.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group col-md-8 offset-md-2">
          <button class="btn btn-lg btn-danger btn-block"
            (click)="confirmarExclusaoOcorrencia(modalRemoverOcorrencia)">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalOcorrencia="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left text-center" style="color: #994803 !important; text-align: center;">
          Método
        </h5>
        <button type="button" class="close pull-right" (click)="modalOcorrencia.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerFormOcorrencia">
          <div class="form-group">
            <input type="hidden" formControlName="idOcorrencia">
            <label for="" style="color:#994803;">Nome do Método:</label>
            <input class="form-control" type="text" formControlName="nomeMetodo" [ngClass]="{'is-invalid': registerFormOcorrencia.get('nomeMetodo')!.errors &&
              registerFormOcorrencia.get('nomeMetodo')!.touched}" placeholder="Insira um nome de método" />
            <div *ngIf="registerFormOcorrencia.get('nomeMetodo')!.hasError('required') &&
            registerFormOcorrencia.get('nomeMetodo')!.touched" class="invalid-feedback">
              Método é obrigatório.
            </div>
          </div>
          <div class="form-group">
            <label style="margin-right:20px; color:#994803;" for="">Número da Lição:</label>
            <input style="width:90px" formControlName="numeroLicao" [ngClass]="{'is-invalid': registerFormOcorrencia.get('numeroLicao')!.errors &&
            registerFormOcorrencia.get('numeroLicao')!.touched}" placeholder="Nº" type="number" min="1" step="1">
            <div *ngIf="registerFormOcorrencia.get('numeroLicao')!.hasError('required') &&
            registerFormOcorrencia.get('numeroLicao')!.touched" class="invalid-feedback">
              Número da lição é obrigatório.
            </div>
          </div>
          <div class="form-group">
            <label for="" style="color:#994803;">Observação do Instrutor:</label>
            <textarea maxlength="100" class="form-control" type="text" formControlName="observacaoInstrutor" [ngClass]="{'is-invalid': registerFormOcorrencia.get('observacaoInstrutor')!.errors &&
              registerFormOcorrencia.get('observacaoInstrutor')!.touched}"
              placeholder="Insira uma observação"> </textarea>
            <div *ngIf="registerFormOcorrencia.get('observacaoInstrutor')!.hasError('required') &&
            registerFormOcorrencia.get('observacaoInstrutor')!.touched" class="invalid-feedback">
              Observação é obrigatória (Limite de 100 caracteres).
            </div>
          </div>
          <div class="form-group">
            <label style="color:#994803;">Data:</label>
            <input type="text" class="form-control" readonly bsDatepicker [bsConfig]="datePickerConfig" [ngClass]="{'is-invalid': registerFormOcorrencia.get('dataOcorrencia')!.errors 
           && registerFormOcorrencia.get('dataOcorrencia')!.touched}" formControlName="dataOcorrencia">
            <div *ngIf="registerFormOcorrencia.get('dataOcorrencia')!.hasError('required')
        && registerFormOcorrencia.get('dataOcorrencia')!.touched" class="invalid-feedback">
              Data da Ocorrência é obrigatória.
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
              <button class="btn btn-lg btn-success btn-block" [disabled]="!registerFormOcorrencia.valid"
                (click)="salvarOcorrencia(modalOcorrencia)">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalNovoHino="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left text-center" style="color: #994803 !important; text-align: center;">
          Novo Hino
        </h5>
        <button type="button" class="close pull-right" (click)="modalNovoHino.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerFormHino">
          <div class="form-group">
            <label for="" style="color:#994803;">Voz do hino:</label>
            <select class="form-control" id="select" formControlName="vozHino" [ngClass]="{'is-invalid': registerFormHino.get('vozHino')!.errors &&
            registerFormHino.get('vozHino')!.touched}" placeholder="selecione a voz do hino">
              <option value="soprano">Soprano</option>
              <option value="contralto">Contralto</option>
              <option value="tenor">Tenor</option>
              <option value="tenor">Baixo</option>
            </select>
            <div *ngIf="registerFormHino.get('vozHino')!.hasError('required') &&
            registerFormHino.get('vozHino')!.touched" class="invalid-feedback">
              Voz é obrigatória.
            </div>
          </div>
          <div class="form-group">
            <label style="margin-right:20px; color:#994803;" for="">Número do hino:</label>
            <input style="width:90px" formControlName="numeroHino" [ngClass]="{'is-invalid': registerFormHino.get('numeroHino')!.errors &&
            registerFormHino.get('numeroHino')!.touched}" placeholder="1 ao 480" type="number" min="1" step="1"
              max="480">
            <div *ngIf="registerFormHino.get('numeroHino')!.hasError('required') &&
            registerFormHino.get('numeroHino')!.touched" class="invalid-feedback">
              Número é obrigatório.
            </div>
          </div>
          <div class="form-group">
            <label style="color:#994803;">Data:</label>
            <input type="text" class="form-control" readonly bsDatepicker [bsConfig]="datePickerConfig" [ngClass]="{'is-invalid': registerFormHino.get('dataHino')!.errors 
           && registerFormHino.get('dataHino')!.touched}" formControlName="dataHino">
            <div *ngIf="registerFormHino.get('dataHino')!.hasError('required')
        && registerFormHino.get('dataHino')!.touched" class="invalid-feedback">
              Data do hino é obrigatória.
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
              <button class="btn btn-lg btn-success btn-block" [disabled]="!registerFormHino.valid"
                (click)="salvarHino(modalNovoHino)">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalRemoverHino="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title pull-left text-center" style="color: #2aaae2 !important; text-align: center;">
          Tem certeza que deseja remover o hino: <strong style="color:#994803;">{{hinoParaExcluir}}, </strong> deste
          aluno?
        </h6>
        <button type="button" class="close pull-right" (click)="modalRemoverHino.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group col-md-8 offset-md-2">
          <button class="btn btn-lg btn-danger btn-block"
            (click)="confirmarExclusaoHino(modalRemoverHino)">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>