<div class="tab">
  <h1 style="color: #994803!important; text-align: center;">{{condicaoTitulo}}</h1>
  <tabset [justified]="true">
    <tab customClass="customClass" *ngFor="let alf of alfabetoPessoas;" heading="{{alf}}">
      <carousel [interval]="0">
        <div *ngFor="let pes of pessoas | PessoasPelaPrimeiraLetraDoNome:alf">
          <slide *ngIf="pes.nome.substring(0,1) === alf" style="background-color: #faeadb;">
            <div class="text-center wrapper">
              <img *ngIf="pes.condicao === 'aluno'" (click)="abrirModalAluno(pes, modalAluno)" class="photo"
                src="../../assets/aluno.png" alt="first slide" style="display: block; width: 20%; margin-left: 40%;">
              <img *ngIf="pes.condicao === 'instrutor'" class="photo" src="../../assets/instrutor.png" alt="first slide"
                style="display: block; width: 20%; margin-left: 40%;">
              <img *ngIf="pes.condicao === 'encarregado'" class="photo" src="../../assets/encarregado.jpg"
                alt="first slide" style="display: block; width: 20%; margin-left: 40%;">
              <h3 style="color:#994803;">{{pes.nome}}</h3>
            </div>
          </slide>
        </div>
      </carousel>
    </tab>
  </tabset>
</div>

<div bsModal #modalAluno="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left text-center" style="color: #2aaae2 !important; text-align: center;">
          Aluno
        </h5>
        <button type="button" class="close pull-right" (click)="modalAluno.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <accordion>
          <form [formGroup]="registerFormAluno">
            <accordion-group heading="Dados Pessoais">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Nome Completo:</strong>
                      {{registerFormAluno.value.nome}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Instrutor:</strong>
                      {{registerFormAluno.value.instrutor}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Encarregado Local:</strong>
                      {{registerFormAluno.value.encarregadoLocal}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Encarregado Regional:</strong>
                      {{registerFormAluno.value.encarregadoRegional}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Região:</strong> {{registerFormAluno.value.regiao}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Regional:</strong>
                      {{registerFormAluno.value.regional}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Celular:</strong> {{registerFormAluno.value.celular}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">E-mail:</strong> {{registerFormAluno.value.email}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Data de Nascimento:</strong>
                      {{registerFormAluno.value.dataNascimento}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Data de Início:</strong>
                      {{registerFormAluno.value.dataInicio}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Comum:</strong> {{registerFormAluno.value.comum}}</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Instrumento:</strong>
                      {{registerFormAluno.value.instrumento}}</label>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group heading="Ocorrências">
              <div class="table-responsive">
                <div class="container">
                  <div class="row">
                    <table class="table table-bordered text-center">
                      <thead class="thead-light">
                        <tr>
                          <th>Método</th>
                          <th>Lição</th>
                          <th>Data Ocorrência</th>
                          <th>Observação</th>
                          <th>Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let oco of listarOcorrenciasPorAluno(registerFormAluno.value)">
                          <td>{{oco.nomeMetodo}}</td>
                          <td>{{oco.numeroLicao}}</td>
                          <td>{{oco.dataOcorrencia}}</td>
                          <td>{{oco.observacaoInstrutor}}</td>
                          <td>
                            <div class="btn-group">
                              <i class="fa fa-edit" tooltip="Editar" (click)="editarOcorrencia(oco, modalOcorrencia)"
                                style="color: green; cursor: pointer; width: 50px; font-size: larger;"></i>
                              <!-- <i class="fa fa-eraser" tooltip="Excluir" (click)="excluirOcorrencia(evento, confirm)"
                                style="color: red; cursor: pointer; width: 50px; font-size: larger;"></i> -->
                            </div>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot *ngIf="!listarOcorrenciasPorAluno(registerFormAluno.value)">
                        <tr>
                          <td colspan="7" class="text-center">
                            <h4>
                              Este aluno ainda não contém ocorrências!
                            </h4>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group heading="Hinos">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="text-center">
                    <label><strong style="color:#994803;">Hinos aprovados:</strong></label>
                    <select id="hinoSelecionado" class="form-control" type="text">
                      <option [value]="obj.idHino" *ngFor="let obj of listarHinosPorAluno(registerFormAluno.value)">
                        {{obj.numeroHino+" - "+obj.vozHino}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-4 offset-2">
                  <img src="../../assets/add.png" style="cursor: pointer;" (click)="registrarHino(modalNovoHino)" />
                </div>
                <div class="col-4 offset-2">
                  <img src="../../assets/remove.png" style="cursor: pointer;width: 42px;margin-top: 3px;"
                    (click)="removerHino(modalRemoverHino)" />
                </div>
              </div>
            </accordion-group>
          </form>
        </accordion>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalOcorrencia="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left text-center" style="color: #2aaae2 !important; text-align: center;">
          Editar Ocorrência
        </h5>
        <button type="button" class="close pull-right" (click)="modalOcorrencia.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerFormOcorrencia">
          <div class="form-group">
            <input type="hidden" formControlName="idOcorrencia">
            <label for="">Nome do Método:</label>
            <input class="form-control" type="text" formControlName="nomeMetodo"
              [ngClass]="{'is-invalid': registerFormOcorrencia.get('nomeMetodo')!.errors &&
              registerFormOcorrencia.get('nomeMetodo')!.touched}"
              placeholder="Insira um nome de método"/>
            <div *ngIf="registerFormOcorrencia.get('nomeMetodo')!.hasError('required') &&
            registerFormOcorrencia.get('nomeMetodo')!.touched"
              class="invalid-feedback">
              Método é obrigatório.
            </div>
          </div>
          <div class="form-group">
            <label style="margin-right:20px" for="">Número da Lição:</label>
            <input style="width:90px" formControlName="numeroLicao" [ngClass]="{'is-invalid': registerFormOcorrencia.get('numeroLicao')!.errors &&
            registerFormOcorrencia.get('numeroLicao')!.touched}" placeholder="1 ao 480" type="number" min="1" step="1"
              max="480">
            <div *ngIf="registerFormOcorrencia.get('numeroLicao')!.hasError('required') &&
            registerFormOcorrencia.get('numeroLicao')!.touched" class="invalid-feedback">
              Número da lição é obrigatório.
            </div>
          </div>
          <div class="form-group">
            <label for="">Observação do Instrutor:</label>
            <textarea maxlength="100" class="form-control" type="text" formControlName="observacaoInstrutor"
              [ngClass]="{'is-invalid': registerFormOcorrencia.get('observacaoInstrutor')!.errors &&
              registerFormOcorrencia.get('observacaoInstrutor')!.touched}"
              placeholder="Insira uma observação"> </textarea>
            <div *ngIf="registerFormOcorrencia.get('observacaoInstrutor')!.hasError('required') &&
            registerFormOcorrencia.get('observacaoInstrutor')!.touched"
              class="invalid-feedback">
              Observação é obrigatória (Limite de 100 caracteres).
            </div>
          </div>
          <div class="form-group">
            <label>Data da Ocorrência:</label>
            <input type="text" class="form-control" readonly bsDatepicker [bsConfig]="datePickerConfig" [ngClass]="{'is-invalid': registerFormOcorrencia.get('dataOcorrencia')!.errors 
           && registerFormOcorrencia.get('dataOcorrencia')!.touched}" formControlName="dataOcorrencia">
            <div *ngIf="registerFormOcorrencia.get('dataOcorrencia')!.hasError('required')
        && registerFormOcorrencia.get('dataOcorrencia')!.touched" class="invalid-feedback">
              Data da Ocorrência é obrigatória.
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
              <button class="btn btn-lg btn-success btn-block" [disabled]="!registerFormOcorrencia.valid"
                (click)="salvarOcorrencia(modalOcorrencia)">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalNovoHino="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left text-center" style="color: #2aaae2 !important; text-align: center;">
          Novo Hino
        </h5>
        <button type="button" class="close pull-right" (click)="modalNovoHino.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerFormHino">
          <div class="form-group">
            <label for="">Voz do hino:</label>
            <select class="form-control" id="select" formControlName="vozHino" [ngClass]="{'is-invalid': registerFormHino.get('vozHino')!.errors &&
            registerFormHino.get('vozHino')!.touched}" placeholder="selecione a voz do hino">
              <option value="soprano">Soprano</option>
              <option value="contralto">Contralto</option>
              <option value="tenor">Tenor</option>
              <option value="tenor">Baixo</option>
            </select>
            <div *ngIf="registerFormHino.get('vozHino')!.hasError('required') &&
            registerFormHino.get('vozHino')!.touched" class="invalid-feedback">
              Voz é obrigatória.
            </div>
          </div>
          <div class="form-group">
            <label style="margin-right:20px" for="">Número do hino:</label>
            <input style="width:90px" formControlName="numeroHino" [ngClass]="{'is-invalid': registerFormHino.get('numeroHino')!.errors &&
            registerFormHino.get('numeroHino')!.touched}" placeholder="1 ao 480" type="number" min="1" step="1"
              max="480">
            <div *ngIf="registerFormHino.get('numeroHino')!.hasError('required') &&
            registerFormHino.get('numeroHino')!.touched" class="invalid-feedback">
              Número é obrigatório.
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
              <button class="btn btn-lg btn-success btn-block" [disabled]="!registerFormHino.valid"
                (click)="salvarHino(modalNovoHino)">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalRemoverHino="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title pull-left text-center" style="color: #2aaae2 !important; text-align: center;">
          Tem certeza que deseja remover o hino: <strong style="color:#994803;">{{hinoParaExcluir}}, </strong> deste
          aluno?
        </h6>
        <button type="button" class="close pull-right" (click)="modalRemoverHino.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group col-md-8 offset-md-2">
          <button class="btn btn-lg btn-danger btn-block"
            (click)="confirmarExclusaoHino(modalRemoverHino)">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>