@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import  '~ngx-toastr/toastr';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/lara-light-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
/* You can add global styles to this file, and also import other style files */

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background: rgb(230, 230, 220);
    overflow-x: hidden;
    margin: 0px;
    position: relative;
    min-height: 100%;
    height: auto;
}

.bg-dark {
    background-color: #ac663e !important;
    margin:0;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='brown' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='brown' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev {
    background-color: #faeadb;
}

.carousel-control-next {
    background-color: #faeadb;
}

.carousel-indicators li {
    background-color: brown;
 }
 .carousel-indicators{
     z-index: 1; 
 }

 .btn-link{
    color: #994803;
    font-weight: 500;
}

.btn-link:hover{
    text-decoration: none;
    color: #5c2b00;
}

.panel-enabled{
    text-align: center;   
}